/****** CSS Reset  ******/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/****** General Styles  ******/

a {
	font-family: Helvetica, sans-serif;
	font-size: 20px;
	text-decoration: none;
	color: black;
}

h1,
h2,
h3 {
	font-family: Helvetica, sans-serif;
}

img {
	max-width: 100%;
}

/******  Nav Bar ******/

ul li {
	display: inline-block;
	padding: 20px 50px;
	/*border: 1px solid red;*/
	background-color: white;
	-webkit-transition: background-color .5s ease;
	   -moz-transition: background-color .5s ease;
	     -o-transition: background-color .5s ease;
	        transition: background-color .5s ease;
}

ul li:hover {
	color: white;
	-webkit-transition: color .3s ease;
	   -moz-transition: color .3s ease;
	     -o-transition: color .3s ease;
	        transition: color .3s ease;
	background-color: #52cca3;
	-webkit-transition: background-color 1.5s ease;
	   -moz-transition: background-color 1.5s ease;
	     -o-transition: background-color 1.5s ease;
	        transition: background-color 1.5s ease;
}

ul li a:hover {
	text-decoration: none;
}

/******  Top Header  ******/

header {
	position: relative;
	max-width: 100%;
	height: 60px;
	border-bottom: 2px solid rgba(0,0,0,.5);
}

#logo-container {
	position: absolute;
	top: 13%;
	left: 20%;
	max-width: 180px;
	/*border: 1px solid black;*/
}

#logo {
	max-width: 100%;
	height: auto;
} 

#main-nav {
	position: absolute;
	/*padding: 2px;*/
	top: 0px;
	right: 100px;
	/*border: 1px solid red;*/
}

#social {
	position: absolute;
	max-width: 200px;
	top: .5em;
	left: .5em;
	/*height: 30px;*/
}

#social img {
	/*display: inline-block;*/
	padding: .3em;
	margin-left: .5em;
	height: 35px;
	max-width: 100%;
}

/******  Intro to People United  ******/

#intro-container {
	position: relative;
	height: 300px;
	max-width: 100%;
	clear: both;
	/*border: 3px solid red;*/
}

#intro-container section {
	position: absolute;
	max-width: 500px;
	height: 150px;
	top: 10%;
	right: 0;
	padding: 40px;
	/*border: 1px solid black;*/
}

#intro-container section h6 {
	font-family: Helvetica, sans-serif;
	font-size: 2em;
	font-weight: bold;
	/*top: 10%;*/
	margin-bottom: 5%;
}

#intro-container section p {
	font-family: Helvetica, sans-serif;
	font-size: 1em;
	line-height: 20px;
	top: 120px;
	max-width: 100%;
	/*border: 1px solid red;*/
}

/******  About People United  ******/

#about-container {
	position: relative;
	height: 590px;
	width: 100%;
	border-top: 2px solid black;
	text-align: center;
	background-image: url(http://th03.deviantart.net/fs71/PRE/i/2011/109/2/8/concrete_texture___16_by_agf81-d3ecm7i.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

#about-container h3 {
	margin: auto;
	width: 260px;
	color: black;
	padding: 9px;
	font-size: 28px;
	font-weight: bold;
	border: 3px solid black;
}

#about-container img:hover {
	/*background-color: red;*/
	opacity: .7;
}

.img-container {
	/*position: absolute;*/
	display: inline-block;
	font-size: 0;
	margin: 5% 0;
	max-width: auto;
	height: 200px;
	background-color: #1f3d4c;
	/*border: 2px solid red;*/
}

.img-container img {
	display: inline-block;
	max-width: 100%;
	max-height: 100%;
	margin: 0;
	padding: 0;
	/*border: 1px solid red;*/
	
}




/*#about-container h6 {
	font-family: Helvetica, sans-serif;
	font-size: 23px;
	font-weight: bold;
	margin-top: 30px;
}*/

/*#about-container p {
	font-family: Helvetica, sans-serif;
	font-size: 18px;
	width: 290px;
	text-align: justify;
	line-height: 25px;
	padding: 10px 60px;
	border: 1px solid red;
}*/

/******  Footer Contact Info  ******/

#bottom-stuff p {
	position: absolute;
	font-size: 12px;
	font-weight: bold;
	bottom: 0;
	left: 10px;
	/*width: 100%;*/
	height: 10px;
	/*border: 1px solid red;*/
}

/******  @media  ******/

@media all and (max-width: 963px) {
	#social {
		max-width: 50px;
	}

	ul li {
		padding-right: 10px;
		padding-left: 10px;
	}

	#main-nav {
		top: 220px;
		left: 45px;
	}

	#intro-container {
		height: 400px;
	}

	#intro-container section {
		top: 40%;
		bottom: 20px;
	}
}